.secao-descricao {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
 
   .container-descricao {
     width: 60%;
 
     h2 {
       font-family: 'Libre Baskerville', serif;
     }
   }

   .container-sociais {
    display: flex;
    justify-content: start;
    align-items: center;

   }
 
   .icones-sociais {
     padding: 1rem;
     font-size: 2rem;
 
     &:hover {
       transform: scale(1.2);
     }
   }
 
  
   @media (max-width: 635px) {
     display: flex;
     flex-direction: column-reverse;
 
     .container-descricao {
       width: 100%;
       text-align: center;
     }

     .container-sociais {
      display: flex;
      justify-content: center;
      align-items: center;
  
     }
   }
 }
 