.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .icon-dev {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.5);
    }
  }

  .icon-container {
    display: flex;
    flex-wrap: wrap;
  }

 
  @media (max-width: 635px) {
    text-align: center;
    display: flex;
    flex-direction: column !important;
    margin-bottom: 1rem;
  }
}
