.secao-header {
    width: 100%;
    border-radius: 0.5rem;
    color: white;
 
 }
 
 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .container-logo {
  
    display: flex;
    justify-content: center;
    align-items: center;
    
   
 }

 .container-icone {

   display: flex;
}


/* VERSÂO MOBILE */

@media (max-width: 900px) {

   .container {
      width: 100%;
   }

}

@media (max-width: 635px) {

  .secao-header {

   display: flex;
   flex-direction: column;
   flex-direction: center;
   align-items: center;
   
  }

  .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  .container-icone {
   margin-bottom: 2rem;
  }

}