
.secao-projetos {
    width: 100%;
   
}

.container-cards {
    overflow-x: auto; /* Adiciona overflow horizontal */
    max-height: 70rem; /* Define a altura máxima */
    padding: 0.5rem;

    /* Estilizando a barra de rolagem */
    scrollbar-width: thin; /* Largura da barra de rolagem */
    scrollbar-color: #ccc transparent; /* Cor da barra de rolagem */
}

/* Estilizando a barra de rolagem no Chrome, Edge e Safari */
.container-cards::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

.container-cards::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Cor da barra de rolagem */
    border-radius: 5px; /* Raio da borda da barra de rolagem */
}

/* Estilizando a barra de rolagem no Firefox */
.container-cards {
    scrollbar-width: thin; /* Largura da barra de rolagem */
    scrollbar-color: #ccc transparent; /* Cor da barra de rolagem */
}


.container-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-skill {
    display: flex;
 
}

.card-skill img:hover {
    transform: scale(1.5);
}

@media (max-width: 700px) {
    .container-skill {
        display: flex;
        flex-direction: column;
    }
}
