
.secao-projetos {
    width: 100%;
    
}

.container-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-skill img:hover {
    transform: scale(1.5);
}
